{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="row justify-content-center mt-3">
  <div id="login" class="col-md-5">
    <h3>Log in to Side Project List</h3>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}

    <div>
      {% include "socialaccount/snippets/provider_list.html" with process="login" text="Log in with" %}
    </div>
    <hr>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% endif %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      <!-- {{ form.as_p }} -->
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="text-center">
        <button class="btn btn-primary btn-block" type="submit" id="loginBtn">Log in</button>
      </div>

    </form>

    <div class="text-center">
      <p class="mt-3"><a class="button secondaryAction" href="{% url 'account_reset_password' %}">Forgot Password?</a>
      </p>
      <p class="mt-3">Don't have an account? <a href="{{ signup_url }}">Sign
          up</a></p>
    </div>

  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/utils.js' %}"></script>
<script>
  const loginBtn = document.querySelector("#loginBtn")
  loginBtn.addEventListener('click', function () {
    if (this.form && isFormHtml5Valid(this.form, 'input')) {
      this.disabled = true
      this.textContent = "Logging in..."
      this.form.submit()
    }
  })
</script>
{% endblock javascript %}