<!--
https://github.com/pennersr/django-allauth/blob/master/allauth/templates/account/password_reset.html
-->
{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block title %}Password reset{% endblock %}

{% block stylesheet %}
<meta name="robots" content="noindex">
{% endblock stylesheet%}

{% block content %}
<div class="flex items-center justify-center">
    <div class="mx-6 md:flex-none sm:w-1/3">
        <div class="text-2xl font-semibold">Password reset</div>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% else %}
        <!-- <p>Enter your email and we'll send you a link to reset your password.</p> -->
        <p>Enter your email and we'll send you a password reset link.</p>
        <!-- <p>We'll email you with a link to reset your password.</p> -->

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center">
                <button
                    class="w-full bg-indigo-600 hover:bg-indigo-500 text-white font-medium px-4 py-2 mt-2 rounded tracking-wide"
                    type="submit" id="passwordResetBtn">Send password reset
                    email</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/utils.js' %}"></script>
<script>
    const loginBtn = document.querySelector("#passwordResetBtn")
    loginBtn.addEventListener('click', function () {
        if (this.form && isFormHtml5Valid(this.form, 'input')) {
            this.disabled = true
            this.classList.remove('bg-indigo-600', 'hover:bg-indigo-500')
            this.classList.add('bg-gray-400')
            this.textContent = "Sending..."
            this.form.submit()
        }
    })
</script>
{% endblock javascript %}