<!--
https://github.com/pennersr/django-allauth/blob/master/allauth/templates/account/password_reset.html
-->
{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block title %}Password reset{% endblock %}

{% block stylesheet %}
<meta name="robots" content="noindex">
{% endblock stylesheet%}

{% block content %}
<div class="row justify-content-center mt-3">
    <div class="col-md-5">
        <h3>Password reset</h3>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% else %}
        <!-- <p>Enter your email and we'll send you a link to reset your password.</p> -->
        <p>Enter your email and we'll send you a password reset link.</p>
        <!-- <p>We'll email you with a link to reset your password.</p> -->

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center">
                <button class="btn btn-primary btn-block" type="submit" id="passwordResetBtn">Send password reset
                    email</button>
            </div>
        </form>
        {% endif %}


    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/utils.js' %}"></script>
<script>
    const loginBtn = document.querySelector("#passwordResetBtn")
    loginBtn.addEventListener('click', function () {
        if (this.form && isFormHtml5Valid(this.form, 'input')) {
            this.disabled = true
            this.textContent = "Sending..."
            this.form.submit()
        }
    })
</script>
{% endblock javascript %}