black
celery
cloudinary
crispy-tailwind
Django
django-allauth
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-environ
django-extensions
django-heroku
djangorestframework
gunicorn
Pillow
psycopg2-binary
pytest
pytest-django
redis
selenium
sentry-sdk
tweepy
whitenoise
