{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta content="en" name="language">

  <meta name="msvalidate.01" content="" />

  <!-- SEO -->
  <meta class="swiftype" name="title" data-type="string" content="">
  <meta class="swiftype" name="description" data-type="string" content="">
  <meta name="keywords" content="">
  <meta name="robots" content="nofollow">

  {% block stylesheet %}{% endblock stylesheet%}

  <link rel="stylesheet" href="{% static "css/tailwind-output.css" %}">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script> -->

  <title>Side Project List: {% block title %} Curated list of personal side projects{% endblock title %}</title>
</head>

<body class="text-gray-800 bg-gray-200">
  {% include './navbar.html' %}

  <!-- 
    django  levels:
    DEBUG, INFO, SUCCESS, WARNING, ERROR
    -->

  {% if messages %}
  <div class="messages text-center">
    {% for message in messages %}
    <div id="message{{ forloop.counter }}" class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
      <button type="button" class="close" onclick="hideThisMessage(this.id)" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="container">
    {% block content %}
    <!-- <h4><span class="label label-primary">block from base.html</span></h4> -->
    {% endblock content %}
  </div>
  <!-- /container -->

  <!-- this button must come before 'scriptjs' -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
  {% block javascript %}{% endblock javascript %}
  <!-- javascript block must come after all the other scripts-->


  <script>
    // hide selected django message
    function hideThisMessage(id) {
      document.getElementById(id).style.visibility = "hidden"; // 'visible'
    }

  </script>

</body>

</html>