{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="{% static 'js/signup_count_chart.js' %}"></script>
{% endblock javascript %}

{% block stylesheet %}
<meta name="robots" content="noindex">
{% endblock stylesheet%}

{% block content %}
<div class="row justify-content-center mt-3" id="charts">
  <h3>Users ({{ user_count }})</h3>
  <div class="col-md-12">
    <span>
      <div class="signupcount-linechart-container" style="height: 180px;">
        <signupcount-linechart :name='signupCountName' :labels='signupDateLabels' :series='signupCountSeries'>
        </signupcount-linechart>
      </div>
    </span>
  </div>
</div>

{% endblock content %}