{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock javascript %}

{% block stylesheet %}
<meta name="robots" content="noindex">
{% endblock stylesheet%}

{% block content %}
<div id="charts" class="">
  <div class="text-2xl font-semibold">Users ({{ user_count }})</div>
  <div class="">
    <div class="signupcount-linechart-container" style="height: 180px;">
      <signupcount-linechart :name='signupCountName' :labels='signupDateLabels' :series='signupCountSeries'>
      </signupcount-linechart>
    </div>
  </div>
</div>

{% endblock content %}