{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock javascript %}

{% block stylesheet %}
<meta name="robots" content="noindex">
{% endblock stylesheet%}

{% block content %}
<div id="dashboard" class="">
  <div class="text-2xl font-semibold">Users ({{ user_count }})</div>
  <div class="">
    <div class="signupcount-linechart-container" style="height: 180px;">
      <signupcount-linechart :name='signupCountName' :labels='signupDateLabels' :series='signupCountSeries'>
      </signupcount-linechart>
    </div>
  </div>

  <div class="mt-4 text-center">
    <div>
      Screenshot not saved: {{ count_screenshot_not_saved }}
    </div>
    <div>
      Bio not saved: {{ count_maker_bio_not_saved }}
    </div>

    <button @click="saveInfoForAll"
      class="capitalize bg-green-600 hover:bg-green-500 text-white px-4 py-2 mt-2 rounded-lg tracking-wide">
      Save screenshots/bios for all</button>
  </div>

</div>


{% endblock content %}