{% extends "base.html" %}
{% load static %}

{% block title %}List of awesome side projects{% endblock title %}

{% block content %}
<div id="project-list" class="">
  <div class="flex flex-wrap mx-2">
    {% if projects %}
    {% for project in projects %}
    <div class="flex flex-col items-center justify-center">
      <div class="mx-6 mt-3 bg-white rounded-xl shadow-lg px-6 py-4">
        <div class="flex items-center justify-start">
          {% if project.maker_avatar %}
          <div class="flex-shrink-0">
            <img src="{{ MEDIA_URL }}{{ project.maker_avatar }}" class="w-8 rounded-full mr-1" alt="twitter avatar">
          </div>
          {% endif %}

          <div class="text-2xl font-semibold">
            {{ project.maker_fullname }}
          </div>

          {% if project.twitter_handle %}
          <div class="ml-1">
            <a href="https://twitter.com/{{ project.twitter_handle }}" target="_blank" rel="noopener noreferrer"
              class=" text-indigo-700 hover:text-indigo-700 hover:underline">
              @{{ project.twitter_handle|truncatechars:"18" }}
            </a>
          </div>
          {% endif %}

        </div>

        <div class="mt-4">
          <a href="{{ project.link }}" target="_blank" rel="noopener noreferrer"
            class="flex flex-col items-center justify-center text-indigo-700 hover:text-indigo-700 hover:underline">
            {% if project.screenshot %}
            <img class="w-64 rounded" src="{{ MEDIA_URL }}{{ project.screenshot }}" alt="screenshot">
            {% else %}
            {{ project.link }}
            {% endif  %}
          </a>
          <div class="my-3">
            {{ project.maker_bio|default_if_none:"" }}
          </div>
          <div class="flex items-center mt-3 ">
            {% for tag in project.tags_in_list %}
            <a href="#" class="block bg-gray-300 rounded-md px-2 mr-2 hover:underline">
              {{ tag }}
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock content %}