{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block content %}
<div class="">
  <div class="">
    <h3 class="text-center">{{ project.maker_fullname }}</h3>

    <div class="">
      <div class="">
        <div class="">
          {{ project.maker_fullname }}

          <a href="https://twitter.com/{{ project.twitter_handle }}" target="_blank" rel="noopener noreferrer">
            (@{{ project.twitter_handle }})
          </a>
        </div>
        <div class="">
          <a href="{{ project.link }}" target="_blank" rel="noopener noreferrer" class="">
            {{ project.link }}
          </a>
        </div>
        <div class="">
          {{ project.description }}
        </div>
        <div class="h6">
          <button class="">
            {{ project.upvote_count }}
          </button>
        </div>
        <div>
          Comments...
        </div>
      </div>
    </div>


  </div>
</div>
{% endblock content %}